body{
    background-color: rgb(51, 10, 10);
}

.cabecera{
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 250px; 
  }

.imagen{
    width: 98%;
    height: 300px;
    float: left;
}
.contenedor{
    margin-top: 130px;
}
.cuento{
    width: 50%;
    height: 1000px;
    background-color:  rgb(126, 20, 17);
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgba(184, 226, 228, 0.938);
    text-align: justify;
    float: left;
  }

  .titglosario{
    margin-top: 3px;
    font-size: 30px;
    color: rgb(148, 155, 46);
}
.glosario{
width: 47%;
height: 200px;
background-color: rgb(63, 16, 16);
margin-left: 1%;
overflow: scroll;
border-radius: 2%;
color: rgba(147, 189, 187, 0.938);
float: right;
text-align: center;
}
.tit1{
    margin-top: 4px;
    font-size: 45px;
    color: white;
}
.ctit{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 3%;
}
.topinion{
  font-size: 80%;
  color: rgb(90, 207, 197);
}
.opinion{
  width:47%;
  height: 200px;
  background-color: rgb(145, 66, 66);
  margin-left: 1%;
  border-radius: 2%;
  overflow: scroll;
  color: black;
  text-align: justify; 
  float: right;
}
.tonel{
    width: 100%;
    height: 300px;
    float: right
}
.menu{
    width: 45%;
    float: right;
}
a{
    color: rgb(126, 192, 204);
    font-size: 25px;
}
strong{
    color: rgb(196, 196, 196);
    font-size: 120%;
}