
body{
    background-color: rgb(255, 243, 203);
}
.cabecera{
    margin-top: 3px;
    margin-left: 4px;
    margin-right: 4px;
    width: auto;
    height: 280px; 
}
.tit1{
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    font-size: 80px;
    font-family: 'Times New Roman';
    text-align: center;
    height: 100%;
    color: rgb(128, 63, 25);
}
.poe{
    width: 100%;
    height: 100%;
    float: left;
}
.contenido{
    text-align: justify;
    height: 440px;
    width: 65%;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    overflow: scroll;
    color: rgb(110, 90, 35);
}
.tit-izq{
    width: 80px;
}
.columna_izquierda{
    float: left;
    width: 25%;
    
}
.contenedor{
   overflow: hidden;
}
a{
    font-size: 20px;
    color: rgb(136, 127, 50);
}