body{
    background-color: rgb(7, 7, 44);
}

.cabecera{
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 250px; 
  }

.imagen{
    width: 98%;
    height: 100%;
    float: left;
}
.contenedor{
    margin-top: 130px;
}
.cuento{
    width: 50%;
    height: 1000px;
    background-color:  rgb(9, 1, 12);
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgba(228, 124, 83, 0.938);
    text-align: justify;
    float: left;
  }

  .titglosario{
    margin-top: 3px;
    font-size: 30px;
    color: rgb(224, 171, 102);
}
.glosario{
width: 47%;
height: 200px;
background-color: rgb(9, 1, 12);
margin-left: 1%;
overflow: scroll;
border-radius: 2%;
color: rgb(224, 171, 102);
text-align: center;   
float: right;
}
.tit1{
    margin-top: 4px;
    height: 100%;
    font-size: 55px;
    color: rgb(224, 171, 102);
}
.ctit{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 3%;
}
h1{
    color: white;
}
.topinion{
  font-size: 80%;
  color: rgb(90, 207, 197);
}
.opinion{
  width:47%;
  height: 200px;
  background-color: rgb(24, 15, 56);
  margin-left: 1%;
  border-radius: 2%;
  overflow: scroll;
  color: rgb(212, 139, 69);
  text-align: justify; 
  float: right;
}
.tonel{
    width: 100%;
    height: 300px;
    float: right
}
.menu{
    width: 45%;
    float: right;
}
a{
    color: rgb(126, 192, 204);
    font-size: 25px;
}
strong{
    color: white;
    font-size: 120%;
}