body{
    background-color: rgb(101, 102, 104);
}

.cabecera{
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 250px; 
  }

.imagen{
    width: 98%;
    height: 300px;
    float: left;
}
.contenedor{
    margin-top: 130px;
}
.cuento{
    width: 50%;
    height: 1000px;
    background-color:  rgb(66, 81, 85);
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgba(184, 226, 228, 0.938);
    text-align: justify;
    float: left;
  }

  .titglosario{
    margin-top: 3px;
    font-size: 30px;
    color: rgb(0, 14, 8);
}
.glosario{
width: 47%;
height: 200px;
background-color: rgb(70, 151, 119);
margin-left: 1%;
overflow: scroll;
border-radius: 2%;
color: rgba(27, 49, 48, 0.938);
text-align: justify;   
float: right;

text-align: center;
}
.tit1{
    margin-top: 4px;
    font-size: 250%;
    color: white;
}
.ctit{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 3%;
}
.topinion{
  font-size: 80%;
  color: rgb(90, 207, 197);
}
.opinion{
  width:47%;
  height: 200px;
  background-color: rgb(88, 71, 94);
  margin-left: 1%;
  border-radius: 2%;
  overflow: scroll;
  color: black;
  text-align: justify; 
  float: right;
}
.tonel{
    width: 100%;
    height: 300px;
    float: right
}
.menu{
    width: 45%;
    float: right;
}
a{
    color: rgb(126, 192, 204);
    font-size: 25px;
}
strong{
    color: white;
    font-size: 120%;
}