body{
    background-color: rgb(80, 3, 3);
}

.cabecera{
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 250px; 
  }

.imagen{
    width: 98%;
    height: 300px;
    float: left;
}
.contenedor{
    margin-top: 130px;
}
.cuento{
    width: 50%;
    height: 1000px;
    background-color: rgb(95, 54, 8);
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgba(226, 212, 190, 0.938);
    text-align: justify;
    float: left;
  }

  .titglosario{
    margin-top: 3px;
    font-size: 30px;
    color: rgb(0, 14, 8);
}
.glosario{
width: 47%;
height: 200px;
background-color: rgb(233, 128, 68);
margin-left: 1%;
overflow: scroll;
border-radius: 2%;
color: rgba(43, 15, 15, 0.938);
text-align: center;   
float: right;
}
.tit1{
    margin-top: 4px;
    font-size: 45px;
    color: rgb(100, 76, 45);
}
.ctit{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 3%;
}
.topinion{
  font-size: 80%;
  color: rgb(220, 110, 20);
}
.opinion{
  width:47%;
  height: 200px;
  background-color: rgb(9, 1, 12);
  margin-left: 1%;
  border-radius: 2%;
  overflow: scroll;
  color: rgba(209, 116, 79, 0.938);
  text-align: justify; 
  float: right;
}
.tonel{
    width: 100%;
    height: 300px;
    float: right
}
.menu{
    width: 45%;
    float: right;
}
a{
    color: rgb(126, 192, 204);
    font-size: 25px;
}

strong{
    color: rgb(56, 34, 34);
    font-size: 120%;
}