body{
    background-color: rgb(202, 202, 228);
}

.cabecera{
    margin-top: 10px;
    margin-left: 10px;
    width: auto;
    height: 250px; 
  }

.imagen{
    width: 98%;
    height: 200px;
    float: left;
}
.contenedor{
    margin-top: 130px;
}
.cuento{
    width: 50%;
    height: 1200px;
    background-color:  rgb(100, 191, 214);
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgba(9, 41, 26, 0.938);
    text-align: justify;
    float: left;
  }

  .titglosario{
    margin-top: 3px;
    font-size: 30px;
    color: rgb(0, 14, 8);
}
.glosario{
width: 47%;
height: 200px;
background-color: rgb(8, 71, 45);
margin-left: 1%;
overflow: scroll;
border-radius: 2%;
color: rgba(61, 216, 208, 0.938);
text-align: center;   
float: right;
}
.tit1{
    margin-top: 4px;
    font-size: 50px;
    color:rgb(56, 55, 55);
}
.ctit{
    font-size: 40px;
    margin-top: 20px;
    margin-left: 3%;
}
.topinion{
  font-size: 80%;
  color: rgb(3, 20, 19);
}
.opinion{
  width:47%;
  height: 200px;
  background-color: rgb(113, 216, 152);
  margin-left: 1%;
  border-radius: 2%;
  overflow: scroll;
  color: black;
  text-align: justify; 
  float: right;
}
.tonel{
    width: 100%;
    height: 300px;
    float: right
}
.menu{
    width: 45%;
    float: right;
}
a{
    color: black;
    font-size: 25px;
}
strong{
    color: white;
    font-size: 120%;
}